<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/round1" method="post">
        <label for="teamname">TeamName</label>
        <input type="text" id="teamname" name="teamname">
        <label for="amt">Amount Invested</label>
        <input type="number" id="amt" name="amt" pattern="(0-9)">
        <label for="city">City</label>
        <input type="text" name="city" id="city">
        <button>Submit</button>
    </form>
</body>
</html>