<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Scores here!!
    Score after submission: <%=score%>
        <form action="/quiz/questions" method="get"><button>Next Question</button></form>
</body>

</html>